<div class="card ps-4 pt-3">
  <%= @my_question %>
  <p class="pt-2 fst-italic">-You</p>
</div>
<div class="card ps-4 pt-3">
  <%= @response %>
  <p class="pt-2 fst-italic">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
